{% extends 'base_layout.html' %}
{% load static %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentUrl = window.location.href;
            
        if (currentUrl.includes('/ru/')) {
            document.querySelectorAll('#ruButton').forEach(function(button) {
                button.style.display = 'none';
            });
        } else if (currentUrl.includes('/en/')) {
            document.querySelectorAll('#enButton').forEach(function(button) {
                button.style.display = 'none';
            });
        }
    });
</script>
<title>CityBlend</title>

{% block auth %}
<div class="container">
    <h2 id="ruButton" class="title">Edit Profile Picture</h2>
    <h2 id="enButton" class="title">Редактировать изображение профиля</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="ruButton" class="button is-success is-rounded is-small" type="submit">Save</button>
        <button id="enButton" class="button is-success is-rounded is-small" type="submit">Сохранять</button>
    </form>
</div>
{% endblock %}